@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.Services {
    height: 100%;
    display: flex;
    max-width: 900px;
    margin: 0 auto;

    .services-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        min-width: 550px;

        @include media-breakpoint-down(sm) {
            min-width: auto;
        }

        .current-service {
            display: flex;
            flex-direction: row;
            padding: 0 15px 30px 15px;

            & > * {
                margin: auto 0;
            }
            .back {
                height: 30px;
                width: 30px;
                background-image: url(../../../img/multimedia-option.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .section-title {
                font-size: 20px;
                font-weight: bold;
                margin-left: 20px;
            }
        }
        .service {
            margin: 0 15px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
            }
            .service-img {
                height: 70px;
                width: 70px;
                margin: 10px 40px 10px 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
            }
            .service-title {
                margin: auto 0;
                text-align: left;
                line-height: 1.7;
            }
        }
    }
    .service-content {

    }
}