@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.FullScreenView {
    min-height: calc(100vh - 60px);
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding-bottom: 120px;

    @include media-breakpoint-down(sm) {
        min-height: auto;
    }

    &.with-title {
        justify-content: flex-start;
        flex-direction: column;
    }

    .title {
        padding: 100px 30px 30px 30px;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        flex-grow: 0;

        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }
    .content {
        height: 100%;
        width: 100%;
        flex-grow: 1;
        display: flex;
        //align-items: center;
    }
}